/*.ie_navbar {*/
	/*display: block;*/
	/*position: absolute;*/
	/*width: 100%;*/
	/*height: 34px;*/
	/*background: #3d9fe5;*/
	/*filter: progid:DXImageTransform.Microsoft.Shadow(Color=#7696A9, Strength=10, Direction=180);*/
	/*-ms-filter: progid:DXImageTransform.Microsoft.Shadow(Color=#7696A9, Strength=10, Direction=180);*/
	/*z-index: 2;*/
	/*top: 1px;*/
	/*left: -5px;*/
/*}*/

/*.menu_block {*/
	/*position: relative;*/
	/*z-index: 4;*/
/*}*/

/*.menu {*/
	/*position: relative;*/

/*}*/

/*.border_li {*/
	/*border-left: 1px solid #66B5F2;*/
/*}*/

/*.border_li_2 {*/
	/*border-right: 1px solid #66B5F2;*/
/*}*/

.container_text_slider{
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000);
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000);}

.icon a:hover {;
	color: #676767;
	font-size: 23px;
}

.box_footer a:hover {
	color: #c6ece9;
	font-size: 21px;
}

/*не работает*/
.left a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/*.place{*/
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif', sizingMethod='scale');*/
	/*-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.gif', sizingMethod='scale')";}*/

.rg-image-nav a {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}

.review{border: 1px solid #cccccc;
background-color: #b9f4ef;
	}

/*поворот на 90 градусов кнопки*/
/*.buttom_review{*/
/*-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=3.061616997868383e-16, M12=1, M21=-1, M22=3.061616997868383e-16, SizingMethod='auto expand')";*/
	/*letter-spacing:2px;*/
/*}*/
