@media screen and (max-width: 940px) {
	.icon_mainpage:first-child {
		margin-left: -20px;
	}

}

@media screen and (max-width: 840px) {
	.menu_block {
		display: none;
	}

	.menu_burger {
		display: block;
		float: right;
		border: 0px solid red;
	}

	.container_text_slider {
		width: 70%;
		font-size: 12px;
		/*padding: 5px 0px 10px 10px;*/
		bottom: 25px;
		left: 8%;
	}

	.menu_hidden {
		display: none;
		border: 0px solid mediumvioletred;
		width: 100%;
	}

	.menu_hidden a {
		text-decoration: none;
	}

	.submenu {
		border: 1px solid #8c8c8c;
		width: 100%;
		height: 35px;
		background: #6c6c6c;
		margin-bottom: -5px;
		color: white;
		font-size: 19px;
		font-weight: bold;
		padding-left: 1%;
		padding-top: 5px;
	}

	.submenu:hover {
		background: #8c8c8c;
	}

	.header_layout {
		min-width: 200px;
		width: 98%;
		padding: 5px 0px;
		height: 54px;
	}

	.header {
		height: 56px;
	}

	.logo {
		height: 36px;
		margin-top: 5px;
	}

	.burger {
		width: 30px;
	}

	.main_content {
		width: 98%;
		margin: auto;
	}
}

@media screen and (max-width: 820px) {
	.footer_content {
		width: 100%;
	}

	.box_footer:first-child {
	}

}

@media screen and (max-width: 825px) {
	.icon_mainpage {
		padding: 4% 1%;
		width: 32%;
	}

	.icon_mainpage:first-child {
		margin-left: 10px;
	}
}

@media screen and (max-width: 775px) {
	.icon_mainpage {
		width: 100%;
		padding: 1% 0%;
		border-bottom: 1px solid #b1b1b1;
	}

	.icon_mainpage:first-child {
		margin-top: -15px;
		border-top: 1px solid #b1b1b1;
		margin-left: 0px;
	}

	.icon_mainpage:hover {
		background-color: #e5e5e5;
	}

	.icon_mainpage a:hover {
		text-shadow: 0px 0px 0px #9f9f9f;
	}

	.box_icon_picture {
		padding-left: 5px;
		height: 100%;
	}

	.box_text_icon {
		max-width: 1000px;
	}

	.content_layout {
		width: 100%;
		min-width: 200px;
		margin: 0;
		border: 0px solid black;
	}

	.box_footer a {
		font-size: 18px;
		max-width: 150px
	}

}

@media screen and (max-width: 710px) {
	.sidebar {
		display: none;
	}

	.right_box_content {
		width: 100%;
		padding-bottom: 7px;
		font-size: 16px;
	}

	.right_box_content h1 {
		font-size: 1.5em;
		padding-top: 10px;
	}

	.sidebar_responsive {
		display: block;
		padding-bottom: 30px;
		float: left;

	}

}

@media screen and (max-width: 600px) {
	.text_icon_title {
		padding-bottom: 1px;
		font-size: 20px;
	}

	.box_text_icon {
		font-size: 16px;
		line-height: 1;
	}

	.icon_mainpage .pictire_icon {
		width: 45px;
	}

	.footer {
		height: 70px;
	}

	.box_footer {
		height: 70px;
	}

	.wrapper {
		margin-bottom: -70px;
	}

	.wrapper:after {
		height: 70px;
	}
}

@media screen and (max-width: 540px) {
	.container_text_slider {
		width: 90%;
		font-size: 10px;
		/*padding: 5px 0px 10px 10px;*/
		bottom: 25px;
		left: 5%;
	}

	.bx-wrapper .bx-controls-direction a {
		display: none;
	}

	.box_icon_picture {
		height: 55px;
	}

}

@media screen and (max-width: 480px) {
	.footer {
		height: 60px;
	}

	.box_footer {
		height: 60px;
	}

	.wrapper {
		margin-bottom: -60px;
	}

	.wrapper:after {
		height: 60px;
	}

	.footer_content {
		display: none;
	}

	.footer_responsive {
		display: block;
		position: relative;
		float: right;
		margin-right: 10px;
	}

	.footer_responsive a {
		text-decoration: none;
		color: white;
		font-size: 13px;
		display: block;
		margin-bottom: -2px;
	}

	.first_a_footer {
		margin-top: 7px;
	}

	.footer_responsive a:hover {
		color: #4168ff;
	}
}

@media screen and (max-width: 420px) {
	.bx_text {
		display: none;
	}

	.container_text_slider {
		width: 48%;
		left: 50%;
	}

	.none {
		display: none;
	}
}

@media screen and (max-width: 340px) {
	.box_text_icon {
		font-size: 13px;
	}

	.box_icon_picture {
		height: 100%;
	}

}

@media screen and (max-width: 290px) {
	.subtext_icon {
		display: none;
	}

	.text_icon_title {
		padding-top: 11px;
	}

}

/*village*/
@media screen and (max-width: 910px) {
	.village .left_village {
		margin-right: -280px;
	}

	.village .right_village {
		width: 98%;
		box-sizing: content-box;
	}

	.content_right_village {
		margin-left: 280px;
	}
}

@media screen and (max-width: 855px) {
	.content_layout_village {
		width: 98%;
	}
}

@media screen and (max-width: 620px) {
	.content_layout_village {
		font-size: 18px;
	}

	.hidden_title_village {
		display: none;
	}

	.title_responsive {
		display: block;

	}

	.village .left_village {
		width: 100%;
		margin: auto;
		float: none;
		min-width: 100px;
		max-width: 400px;
	}

	.content_right_village {
		float: none;
		margin-left: 0;
	}

	.page_village img {
		min-width: 100px;
	}

	.box_back_village img {
		min-width: 100px;

	}
}

@media screen and (max-width: 500px) {
	.content_layout_village {
		font-size: 16px;
	}
}

/*selection*/

@media screen and (max-width: 1220px) {
	.district_price {
		display: none;
	}

	.price_hidden {
		display: block;
		margin-top: 10px;
		font-size: 30px;
		font-weight: bold;
	}
}

@media screen and (max-width: 1130px) {
	.filter_box {
		margin-right: -190px;
	}

	.result_filter_box {
		width: 99%;
	}

	.result {
		margin-left: 190px;
	}

	.submit_filter_box_responsive {
		width: 150px;
		font-family: "PTSansNarrow", Arial, sans-serif;
		font-weight: bold;
		font-size: 18px;
		color: #FFFFFF;
		background: #53a5e0 url("../pictures/triangle3.png") 75% 55% no-repeat;
		background-size: 8%;
		border: 1px solid #B1D8F2;
		border-radius: 3px;
		letter-spacing: 1px;
		text-shadow: 0px 1px 0px #707070;
	}

	.submit_filter_box_responsive:hover {
		background: #5794d2 url("../pictures/triangle3.png") 76% 55% no-repeat;
		background-size: 9%;
	}

}

@media screen and (max-width: 800px) {
	.filter_box {
		margin-right: 0px;
		display: none;
	}

	.result {
		margin-left: 0px;
	}

	.result_filter_box {
		width: 100%;
	}

	.filter_box_responsive {
		display: block;
		float: right;
		margin-top: -35px;
	}

	.hidden_search {
		background: white;
		float: right;
		border: 1px solid #9e9897;
		padding: 5px;
		margin-bottom: 5px;
	}

	.filter_elements {
		display: inline-block;
		zoom: 1;
		*display: inline;
		border: 0px solid #5692ce;
		padding: 8px;
		box-sizing: border-box;
		height: 150px;
		width: 190px;
		vertical-align: top;

	}

	.filter_elements p {
		text-align: center;
		border-bottom: 1px solid #53a5e0;
		margin-bottom: 2px;
		font-size: 19px;
	}

	.block_for_align:after {
		display: inline-block;
		width: 100%;
		content: "";
	}

	.submit_selection .submit_form {
		margin-top: 0px;
	}

	.filter_village {
		border: 0px solid #53a5e0;
	}
}

@media screen and (max-width: 620px) {
	.filter_elements {
		min-width: 190px;
		width: 49%;
	}

}

@media screen and (max-width: 420px) {

	.filter_elements {
		text-align: left;
		margin-bottom: -45px;
		width: 100%;
		padding: 0;
	}

	.filter_elements .irs {
		max-width: 200px;
		text-align: center;
		margin: auto;
	}

	.filter_elements:nth-child(2), .filter_elements:nth-child(5) {
		margin-bottom: -20px;
	}

	.filter_elements p {
		border-bottom: 1px solid #8c8c8c;
		border-top: 1px solid #8c8c8c;
		margin-bottom: 2px;
		background: #d6d6d6;
	}

	.filter_elements:first-child p {
		border-top: 0px solid #8c8c8c;
	}

	.hidden_search {
		padding: 0px;
	}

	.price_range input[type=number], input[type=text] {
		margin: 0;
	}

	.district_result {
		text-align: center;
	}

	.district_photo {
		float: none;
	}

	.discrict_description {
		padding-top: 1px;
		padding-left: 0px;
		font-size: 16px;
	}

	.price_hidden {
		margin: 0;
		font-size: 26px;
	}

	.submit_selection .submit_form {
		margin-bottom: 10px;
	}

}

@media screen and (max-width: 340px) {
	.submit_filter_box_responsive {
		width: 85px;
		background: #53a5e0 url("../pictures/triangle3.png") 90% 55% no-repeat;
		background-size: 8%;
	}

	.submit_filter_box_responsive:hover {
		background: #5794d2 url("../pictures/triangle3.png") 90% 55% no-repeat;
		background-size: 8%;
	}
	.logo {
		height: 25px;
		margin-top: 10px;
	}
}

@media screen and (max-width: 265px) {
	.filter_box_responsive {
		display: block;
		float: left;
		margin-top: -10px;
		margin-bottom: 5px;
	}

	.submit_filter_box_responsive {
		width: 150px;
		background: #53a5e0 url("../pictures/triangle3.png") 75% 55% no-repeat;
		background-size: 8%;
		margin: auto;
	}

	.submit_filter_box_responsive:hover {
		background: #5794d2 url("../pictures/triangle3.png") 75% 55% no-repeat;
		background-size: 8%;
	}
}

/*how_buy*/

@media screen and (max-width: 755px) {
	.icon_buy_box {
		width: 65px;
	}

	.icon_buy_box:last-child {
		margin-bottom: 15px;
	}

	.layout_icons_buy {
		width: 490px;
	}

}

@media screen and (max-width: 510px) {
	.title_buy img {
		width: 250px;
	}

	.icon_buy_box img {
		width: 60%;
	}

	.icon_buy_box:nth-child(2n) {
		width: 30px;
	}

	.text_icon_buy {
		font-size: 15px;
	}

	.icon_arrow {
		margin: 0px -15px 40px;
	}

	.icon_arrow img {
		width: 35%;
	}

	.layout_icons_buy {
		width: 380px;
		margin: 5px auto;
	}

}

@media screen and (max-width: 500px) {
	.ui-accordion .ui-accordion-header {
		font-size: 12px;
	}

	.ui-helper-reset {
		font-size: 13px;
	}
}

@media screen and (max-width: 395px) {
	.text_icon_buy {
		font-size: 14px;
	}

	.icon_buy_box {
		margin: -7px;
	}

	.layout_icons_buy {
		width: 275px;
		margin: 15px auto;
	}

	.icon_buy_box:last-child {
		margin-bottom: -5px;
	}

	.icon_buy_box:nth-child(5) {
		margin-bottom: -20px;
	}

	.title_buy img {
		margin-top: -10px;
	}

}

/*contacts*/

@media screen and (max-width: 1100px) {
	.contacts_point_1 {
		float: none;
		width: 100%;
	}

	.contacts_point_2 {
		float: none;
		padding: 0px;
		width: 100%;
	}

	.contacts {
		min-width: 245px;
		width: 50%;
	}
}

@media screen and (max-width: 930px) {
	.contacts {
		width: 330px;
		padding-left: 1%;
	}

	.request_call_wrapper {
		max-width: 370px;
		width: 100%;
	}

	.request_call_wrapper .form_line_element input[type=text] {
		width: 345px;
	}

}

@media screen and (max-width: 760px) {
	.request_call_wrapper {
		/*display: none;*/
		float: none;
		padding-top: 20px;
	}

	.request_call_wrapper h3 {
		text-align: left;
		padding-bottom: 10px;
		padding-left: 1%;
	}

	.request_call_wrapper .form_line_element input[type=text] {
		width: 100%;
	}

	.form_request_call_wrapper .form_element {
		width: 100%;
	}

	.form_request_call_wrapper .form_line_element {
		width: 100%;}


	.contacts {
		width: 100%;
		float: none;
	}

}

@media screen and (max-width: 500px) {
	.request_call_wrapper_responsive .title_request_call_form {
		font-size: 16px;
	}

}

@media screen and (max-width: 400px) {

	.contacts {
		min-width: 150px;
	}

	.title_request_call_form{
		display: none;
	}


}


/*about*/
@media screen and (max-width: 1250px) {
	.about_page:last-child {
		margin-top: 30px;
	}
}

@media screen and (max-width: 1150px) {
	.about_icon_box {
		padding: 10px 0px;
	}

	.right_box_about {
		padding: 0px 40px;
	}

	.right_box_about:nth-child(2) {
		min-height: 330px;
	}

	.about_second {
		height: 330px;
	}

}

@media screen and (max-width: 950px) {

	.right_box_about {
		padding: 0px 0px 0px 30px;
	}
	.form_review_wrapper{
		margin: 80px auto 30px;
	}

}

@media screen and (max-width: 915px) {
	.about_layout .content_layout_village {
		width: 98%;
	}

	.right_box_about {
		padding: 0px 0px 0px 5px;
	}

	.review_view_all {
		margin-right: 2px;
	}
}

@media screen and (max-width: 835px) {
	.right_box_about_text {
		font-size: 21px;
	}

	.left_box_about {
		background-size: 80%;
		height: 320px;
	}
	.box_review {
		padding-right: 2px;
	}

}

@media screen and (max-width: 700px) {
	.right_box_about_text {
		font-size: 19px;
	}

	.about_line_icon {
		display: none;
	}

	.about_icon_responsive {
		display: block;
	}

	.about_icon_text {
		width: 90%;
	}

	.right_box_about {
		min-height: 320px;
	}

}

@media screen and (max-width: 620px) {
	.about_icon_text {
		width: 85%;
	}

	.about_title1 {
		padding-top: 80px;
		font-size: 36px;
	}

	.about_title2 {
		font-size: 36px;
	}

	.about_title3 {
		font-size: 14px;

	}
}

@media screen and (max-width: 570px) {
	.left_box_about {
		float: none;
		width: 100%;
		background-size: 45%;
		max-width: 500px;
		height: 230px;
	}

	.right_box_about {
		float: none;
		width: 100%;
		min-height: 200px;
		padding: 0 5px;
	}

	.right_box_about:nth-child(2) {
		min-height: 200px;

	}

	.responsive_second_right {
		margin-top: -20px;
	}

	.about_title3 {
		text-align: right;
	}

	.about_title1 {
		padding-top: 40px;
	}

	.about_page {
		margin-bottom: 30px;
	}

}

@media screen and (max-width: 380px) {
	.right_box_about_text {
		font-size: 17px;
	}

	.about_icon_text {
		width: 80%;
	}
}

/*reviews*/

@media screen and (max-width: 735px) {
	.form_element_result {
		width: 90px;
	}
}
@media screen and (max-width: 680px) {

	.left_box_review {
		margin-right: -225px;
	}

	.right_box_review {
		font-size: 18px;
		width: 98%;
	}

	.right_box_review p {
		margin-left: 225px;
	}

}

@media screen and (max-width: 599px) {
	.form_element_result {
		display: none;
	}
}

@media screen and (max-width: 530px) {
	.left_box_review {
		margin-right: -150px;
		min-width: 150px;
	}

	.right_box_review {
		width: 94%;
	}

	.right_box_review p {
		margin-left: 145px;
	}
}

@media screen and (max-width: 420px) {
	.form_review_wrapper {
		box-sizing: border-box;
		width: 100%;
	}

	.form_review_wrapper .form_line_element input[type=text], input[type=number], input[type=reset] {
		width: 100%;
	}

	.form_review_wrapper .form_line_element textarea {
		width: 100%;
	}

	.form_review_wrapper .form_line_element {
		width: 100%;

	}

	.form_review_wrapper .form_line_element .form_element {
		width: 100%;

	}

}

@media screen and (max-width: 380px) {
	.review_photo {
		display: none;
	}

	.review_text {
		width: 100%;
	}

	.left_box_review {
		margin: auto;
		float: none;
		width: 90%;
	}

	.right_box_review {
		width: 100%;
		float: none;
	}

	.right_box_review p {
		margin-left: 0px;
	}
}

/*village_page*/


@media screen and (max-width: 540px) {
	.left_block_tab_village {
		width: 100%;
		float: none;
		padding-right: 0px;
	}

	.right_block_tab_village {
		width: 100%;
	}
}

@media screen and (max-width: 490px) {
	.place {
		min-width: 190px;
	}

	.price {
		min-width: 220px;
	}
}

@media screen and (max-width: 445px) {
	.box_icon_village {
		display: block;
		*display: block;
		padding: 10px 0px 10px;
	}

}